openai>=1.3.0
websockets>=11.0.3
python-dotenv>=1.0.0
requests>=2.31.0
sounddevice>=0.4.6
numpy>=1.24.3
scipy>=1.11.3
streamlit>=1.38.0
anthropic[bedrock,vertex]>=0.37.1
jsonschema==4.22.0
boto3>=1.28.57
google-auth<3,>=2